 h1 {
  font-family: 'Nova Mono', 'Cutive Mono', monospace;
  text-align: center;
 }

 h2 {
  font-family: 'Nova Mono', 'Cutive Mono', monospace;
  color: #ffffff;
 }


 .logo {
  height: 128px;
  max-width: 100%;
 }

 #search-button {
  margin-right: 1em;
 }

body {
  margin-top: 1em;
  font-family: 'Vollkorn', 'Playfair Display', serif;
  color: #ffffff;
}

.col-md-4 {
  border: 4px solid #ffea99;
  background-color: #330000;
  height: 20em;
}

#map-container{
  border: 4px solid #ffea99;
  background-color: lightgrey;
  height: 40em;
  padding: 2em
}

#map {
  z-index: 9999;
  height: 36em;
  width: 51em;
}

.col-md-12 {
  border: 4px solid #ffea99;
  background-color: #330000;
  height: 100em;
}
