footer {
  background-color: darkgray;
  background-image: linear-gradient(#2c2b26, #ffea99);
}

 h1 {
  font-family: 'Nova Mono', 'Cutive Mono', monospace;
  text-align: center;
 }

 h2 {
  font-family: 'Nova Mono', 'Cutive Mono', monospace;
  color: #ffffff;
 }

.container {
  width: 1170px;
}

.navbar {
  width: 100%;
}

 .logo {
  height: 128px;
  max-width: 100%;
 }

 #search-button {
  margin-right: 1em;
 }

.signature {
  font-family: font-family: 'Lobster', 'Pacifico', cursive;
  font-size: 1.5em;
}

body {
  margin-top: 1em;
  font-family: 'Vollkorn', 'Playfair Display', serif;
  color: #ffffff;
}

.col-md-4 {
  border: 4px solid #ffea99;
  background-color: #330000;
  height: 20em;
}

#map-container{
  border: 4px solid #ffea99;
  background-color: lightgrey;
  height: 30em;
  padding: 2em
}

#map {
  z-index: 9999;
  height: 26em;
}

.col-md-12 {
  border: 4px solid #ffea99;
  background-color: #330000;
  max-width: 100%;
  height: 100%;
}

.post-heading {
  font-family: 'Vollkorn', 'Playfair Display', serif;
}

.post-image {
  max-height: 417px;
  max-width: 100%;
}

#review-container {
  margin: auto;
  padding: 2em;
}

#pages {
    display: none;
}

#loader {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: left;
    opacity: .8;
    background-color: #FFFFFF;
}

.form-container {
  max-width: 50%;
  padding: 2em;
  margin: auto;
  border: 4px solid #ffea99;

}

#contact-form label {
    display:block;
}

#contact-form .required {
    font-weight:bold;
    color:#F00;
}

#errors {
    border:solid 1px #E58E8E;
    padding:10px;
    margin:25px 0px;
    display:block;
    width:437px;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    border-radius:8px;
    background:#FFE6E6 url(../img/cancel_48.png) no-repeat 405px center;
    display:none;
}

#errors li {
    padding:2px;
    list-style:none;
}

#errors li:before {
    content: ' - ';
}

#errors #info {
    font-weight:bold;
}

#errors #info:before {
    content: '';
}

#success {
    border:solid 1px #83D186;
    padding:25px 10px;
    margin:25px 0px;
    display:block;
    width:437px;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    border-radius:8px;
    background:#D3EDD3 url(../img/accepted_48.png) no-repeat 405px center;
    font-weight:bold;
    display:none;
}

#errors.visible, #success.visible {
    display:block;
}

#contact-form #submit-button:active {
    position:relative;
    top:1px;
}

.form-container input {
  color: black;
}

.form-container textarea {
  color: black;
}