<h1>About Ruby</h2>
<p>I am a pseudonymous wannabe restaurant reviewer and code-wrangler with a blunt bob and an attitude to match. I want spicy food to be spicy, soups to be comforting, and dessert to be a treat. I built this whole blog myself, so if you like it, or you think you like me (specifically, you think you would like to work with me), fork over an email in the contact form!</p>
