<div class="container">
  <div class="row">
    <div id="map-container" class="col-md-8"><div id="map"></div></div>
    <div class="col-md-4">Sidebar</div>
    <div class="col-md-4">Testing</div>
    <div class="col-md-12"><h2>Latest Posts<h2></div>
  </div>
</div>

